#root {
  width: 90vw;
  min-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

* {
  box-sizing: border-box;
}

header {
  height: 10vh;
}
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  margin: 0 0 0 30px;
}

h3 {
  font-size: 20px;
  margin: 5px; 
}

#backImage {
  position: absolute;
  height: 100%;
  width: 90vw;
  background-image: url("../public/iconImage/インテリア背景.jpg");
  background-size: cover;
  z-index: -100;
}

.globalNavigation {
  text-align: center;
  color: #fff;
}
#headerArea {
  width: 90vw;
  height: 90%;
  color: #735E59;
  margin-bottom: 10px;
  border-bottom: 2px solid #735E59;
  align-items: center;
  display: flex;
}

main {
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  width: 100%;
}
.content {
  /* flex: 1; */
  flex-wrap: wrap;
  background-color: #dcdcdc90;
  text-align: center;
  margin-left: 10px;
  height: 85vh;
  display: flex;
  width: 100%;
  overflow-y: scroll;
}

.localNavigation {
  width: 40%;
  height: 85vh;
  text-align: center;
  background-color: #dcdcdc90;
  color: #735E59;
}
